 h1 {
  text-align: center;
}

form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

fieldset {
  height: 220px;
}

datalist{ 
  display: flex;
  justify-content: flex-end;
}

.models, .text , .color{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 260px;
}

.buttons {
  text-align: center;
  margin-top: 100px;
}

#range {
  width: 155px;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align:center;
  margin-top: 50px
}